/****** Object:  Database [sparta]    Script Date: 20/12/2019 15:00:16 ******/
CREATE DATABASE [sparta]

ALTER DATABASE [sparta] SET COMPATIBILITY_LEVEL = 130
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sparta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sparta]
GO
USE [sparta]
GO

CREATE TABLE [dbo].[BasketItems](
	[BasketItemID] [int] IDENTITY(1,1) NOT NULL,
	[BasketID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BasketItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[BasketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BasketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creators]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creators](
	[CreatorID] [int] IDENTITY(1,1) NOT NULL,
	[CreatorName] [nvarchar](100) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[Description] [varchar](max) NULL,
	[GitHubLink] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CreatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderStatusID] [int] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[OrderDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NULL,
	[StatusDescription] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayPalTransactions]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayPalTransactions](
	[PayPalTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeID] [int] NULL,
	[OrderID] [int] NULL,
	[PayPalOrderID] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CaptureID] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayPalTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](100) NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductDescription] [varchar](max) NULL,
	[Stock] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[Rating] [int] NOT NULL,
	[ReviewText] [varchar](max) NULL,
	[DateOfReview] [datetime] NOT NULL,
	[Flagged] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](320) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[ActivationCode] [nvarchar](max) NULL,
	[LastLogin] [datetime] NULL,
	[Locked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 20/12/2019 15:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[TypeDescription] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BasketItems] ON 

INSERT [dbo].[BasketItems] ([BasketItemID], [BasketID], [ProductID], [Quantity]) VALUES (43, 7, 3, 1)
INSERT [dbo].[BasketItems] ([BasketItemID], [BasketID], [ProductID], [Quantity]) VALUES (44, 7, 4, 1)
INSERT [dbo].[BasketItems] ([BasketItemID], [BasketID], [ProductID], [Quantity]) VALUES (45, 7, 2, 6)
SET IDENTITY_INSERT [dbo].[BasketItems] OFF
SET IDENTITY_INSERT [dbo].[Baskets] ON 

INSERT [dbo].[Baskets] ([BasketID], [UserID]) VALUES (1, 1)
INSERT [dbo].[Baskets] ([BasketID], [UserID]) VALUES (7, 4)
INSERT [dbo].[Baskets] ([BasketID], [UserID]) VALUES (8, 2)
SET IDENTITY_INSERT [dbo].[Baskets] OFF
SET IDENTITY_INSERT [dbo].[Creators] ON 

INSERT [dbo].[Creators] ([CreatorID], [CreatorName], [ProfileImage], [Description], [GitHubLink], [Website]) VALUES (1, N'Alykhan Esmail', N'alykhan.jpg', NULL, N'https://www.linkedin.com/in/alykhan-esmail/', N'https://www.linkedin.com/in/alykhan-esmail/')
INSERT [dbo].[Creators] ([CreatorID], [CreatorName], [ProfileImage], [Description], [GitHubLink], [Website]) VALUES (2, N'Fuat Kalay', N'fuat.jpg', NULL, N'https://github.com/RoboAI', N'https://github.com/RoboAI')
INSERT [dbo].[Creators] ([CreatorID], [CreatorName], [ProfileImage], [Description], [GitHubLink], [Website]) VALUES (3, N'Jonathan Freire-Benites', N'jonathan.jpg', NULL, N'https://github.com/jfreire-benites', N'https://github.com/jfreire-benites')
SET IDENTITY_INSERT [dbo].[Creators] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ProductPrice], [Quantity]) VALUES (1, 2, 2, CAST(15.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ProductPrice], [Quantity]) VALUES (2, 3, 3, CAST(15.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ProductPrice], [Quantity]) VALUES (3, 1, 1, CAST(15.00 AS Decimal(10, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatusID], [TotalCost], [OrderDate], [ShipDate]) VALUES (1, 1, 3, CAST(30.00 AS Decimal(10, 2)), CAST(N'2019-10-24T18:08:15.140' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatusID], [TotalCost], [OrderDate], [ShipDate]) VALUES (2, 1, 1, CAST(30.00 AS Decimal(10, 2)), CAST(N'2019-10-16T18:08:15.147' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderStatusID], [TotalCost], [OrderDate], [ShipDate]) VALUES (3, 1, 1, CAST(30.00 AS Decimal(10, 2)), CAST(N'2019-09-23T18:08:15.160' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName], [StatusDescription]) VALUES (1, N'Processing', N'Order is processing')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName], [StatusDescription]) VALUES (2, N'Dispatched', N'Order has been dispatched')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName], [StatusDescription]) VALUES (3, N'Ready for collection', N'Order is ready for collection from pick up point')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentName]) VALUES (1, N'PayPal')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentName]) VALUES (2, N'Stripe')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
SET IDENTITY_INSERT [dbo].[PayPalTransactions] ON 

INSERT [dbo].[PayPalTransactions] ([PayPalTransactionID], [PaymentTypeID], [OrderID], [PayPalOrderID], [Amount], [CaptureID]) VALUES (1, 1, 8, N'1234567890', CAST(34.97 AS Decimal(10, 2)), N'39E44460HD349645B')
INSERT [dbo].[PayPalTransactions] ([PayPalTransactionID], [PaymentTypeID], [OrderID], [PayPalOrderID], [Amount], [CaptureID]) VALUES (2, 1, 9, N'1234567890', CAST(159.91 AS Decimal(10, 2)), N'5RY93525A6724043T')
INSERT [dbo].[PayPalTransactions] ([PayPalTransactionID], [PaymentTypeID], [OrderID], [PayPalOrderID], [Amount], [CaptureID]) VALUES (3, 1, 10, N'1234567890', CAST(4.99 AS Decimal(10, 2)), N'1Y084014E29981922')
SET IDENTITY_INSERT [dbo].[PayPalTransactions] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [SKU], [ProductName], [ProductDescription], [Stock], [Price], [ImageLink]) VALUES (1, NULL, N'Sparta Hoodie (Men''s)', N'A high quality, comfortable men''s sparta branded hooded jumper', 50, CAST(34.99 AS Decimal(10, 2)), N'SpartaHoodieMens.jpg')
INSERT [dbo].[Products] ([ProductID], [SKU], [ProductName], [ProductDescription], [Stock], [Price], [ImageLink]) VALUES (2, NULL, N'Sparta Hoodie (Women''s)', N'A high quality, comfortable women''s sparta branded hooded jumper', 30, CAST(34.99 AS Decimal(10, 2)), N'SpartaHoodieWomens.jpg')
INSERT [dbo].[Products] ([ProductID], [SKU], [ProductName], [ProductDescription], [Stock], [Price], [ImageLink]) VALUES (3, NULL, N'Sparta Keychain', N'A key chain in the shape of sparta logo.', 45, CAST(4.99 AS Decimal(10, 2)), N'SpartaKeyChain.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [UserID], [ProductID], [Rating], [ReviewText], [DateOfReview], [Flagged]) VALUES (7, 1, 1, 5, N'Great ', CAST(N'2019-10-28T23:48:05.107' AS DateTime), NULL)
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [ProductID], [Rating], [ReviewText], [DateOfReview], [Flagged]) VALUES (9, 1, 2, 5, N'Great ', CAST(N'2019-10-29T09:26:18.443' AS DateTime), NULL)
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [ProductID], [Rating], [ReviewText], [DateOfReview], [Flagged]) VALUES (10, 9, 3, 3, N'Average', CAST(N'2019-10-29T11:49:05.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserTypeID], [FirstName], [LastName], [UserPassword], [UserEmail], [IsVerified], [ActivationCode], [LastLogin], [Locked]) VALUES (1, 1, N'Joe', N'Bloggs', N'CxTVAaWURCoBxoWVQbyz6BZNGD0yk3uFGDVEL2nVyU4=', N'test@test.com', 1, NULL, NULL, 0)
INSERT [dbo].[Users] ([UserID], [UserTypeID], [FirstName], [LastName], [UserPassword], [UserEmail], [IsVerified], [ActivationCode], [LastLogin], [Locked]) VALUES (2, 2, N'John', N'Doe', N'XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=', N'admin', 1, NULL, NULL, 0)
INSERT [dbo].[Users] ([UserID], [UserTypeID], [FirstName], [LastName], [UserPassword], [UserEmail], [IsVerified], [ActivationCode], [LastLogin], [Locked]) VALUES (4, 1, N'Thomas', N'Shelby', N'XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=', N'tshelby@shelbycompany.com', 1, N'68214b7c-11bd-48c1-aa2e-746504cc84c5', NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeID], [TypeName], [TypeDescription]) VALUES (1, N'Customer', NULL)
INSERT [dbo].[UserType] ([UserTypeID], [TypeName], [TypeDescription]) VALUES (2, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[UserType] OFF
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD FOREIGN KEY([BasketID])
REFERENCES [dbo].[Baskets] ([BasketID])
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PayPalTransactions]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[PayPalTransactions]  WITH CHECK ADD FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([UserTypeID])
GO
USE [master]
GO
