
@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

@using (Html.BeginForm("BasketPost", "Checkout", FormMethod.Post))
{
    <input type="text" id="Amount" name="Amount" value="2.49" />
    <input type="submit" value="Checkout" />
}



