
@{
    ViewBag.Title = "CheckoutSuccessful";
}

<h2>CheckoutSuccessful</h2>
<h2>CheckoutSuccessful</h2>
<h2>CheckoutSuccessful</h2>
<h2>CheckoutSuccessful</h2>
<h2>CheckoutSuccessful</h2>
<h2>CheckoutSuccessful</h2>
<h2>Order ID: @ViewBag.Message</h2>

