
@{
    ViewBag.Title = "Checkout";
}


<h1>Basket Total: £@ViewBag.Message</h1>

<script src="https://www.paypal.com/sdk/js?client-id=AX1KuTdKO9Yk80dWu-JMT_LjIdR2xqRICckC__LhTt60F2IHrqL-UxUcaT_0KROwBt9sZTssFt40tm3O&currency=GBP">
</script>

<div id="transaction-successful">
    <h1 id=transaction-result> </h1>
</div>

<div id="paypal-button-container"></div>

<div asp-action="Index" asp-controller="Form">
    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                // Set up the transaction
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '@ViewBag.Message'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                // Capture the funds from the transaction
                return actions.order.capture().then(function (details) {

                    // Call your server to save the transaction
                    return fetch('/Checkout/PaypalPost', {
                        method: 'post',
                        redirect: 'follow',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    }).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        window.location.replace(data.redirectUrl)
                    });
                });
            }

        }).render('#paypal-button-container');
    </script>

</div>

@*<button onclick="DoPost('123456')">Click me</button>

@using (Html.BeginForm("PaypalPost", "Checkout", FormMethod.Post))
{
    <input type="text" id="Amount" name="Amount" value="" />
    <input type="submit" value="Checkout" />
}*@


@*// Show a success message to your buyer
//var msg = 'thank you for your cooporation ' + details.payer.name.given_name;
//var theDiv = document.getElementById("transaction-result");
//theDiv.innerHTML += msg;*@