@{ 
    ViewBag.Title = "Contact";
}

<style type="text/css">
    body{
        background-color: #36393F;
    }

    html,
    body,
    header,
    .carousel {
      height: 90vh;
    }
    @@media (max-width: 740px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
    @@media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
</style>

    <!--Main layout-->
    <main>
        <div style="height: 50%; padding:0 15%; max-width:900px; margin:auto">

            <h1 style="padding-top:50px; color: #c41541; font-weight: bold;">
                Contact Us<span style="font-size:0.8em; color:#fff; font-weight:normal"></span>
            </h1>

            <div style="text-align:left;padding:10px 0;">
                <h4 style="font-weight: bold; color: #e35872; padding:0; margin:0;">Email Us:</h4>
                <a href="mailto:spartaglobalstore@admin.com">
                    <h5 style="color: rgb(199, 199, 199);">
                        contact@spartaglobal.com
                    </h5>
                </a>
            </div>
            <div style="text-align:left;padding:10px 0;">
                <h4 style="font-weight: bold; color: #e35872; padding:0; margin:0;">Call Us:</h4>
                <h5 style="color: rgb(199, 199, 199);">
                    0208 940 2333
                </h5>
            </div>
            <div style="text-align:left;padding:10px 0;">
                <h4 style="font-weight: bold; color: #e35872; padding:0; margin:0;">Or simply come give us a visit</h4>
                <a href="https://www.google.com/maps?q=sparta+global&rlz=1C1CHBF_enGB864GB864&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiZpbaOzbflAhWNEMAKHa9oBMsQ_AUIEygC">
                    <p> 6th Floor, 125 London Wall, Barbican, London EC2Y 5AS</p>
                </a>
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.76786385924!2d-0.09590368422968161!3d51.51747467963682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761caca65115b7%3A0xff0dc8f530c744ee!2sSparta%20Global!5e0!3m2!1sen!2suk!4v1572014167291!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0; max-width:100%;" allowfullscreen=""></iframe>
                </p>
            </div>
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- GoogleMaps -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    @*<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>*@
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">// Animations initialization
    new WOW().init();</script>
