@{
    ViewBag.Title = "FAQs";
}

<style>
    
</style>


<main>
    <div style="height: 50%; padding:0 15%; max-width:900px; margin:auto">

        <h1 style="padding-top:50px; color: #c41541; font-weight: bold;">
            FAQs
        </h1>

        <div id="accordion">

            <!--FAQ1-->
            <div class="card FAQ">
                <div class="FAQTitle card-header" id="FAQ01">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#FAQAnswer01" aria-expanded="true" aria-controls="FAQAnswer01">
                            Having troubles with our mobile site?
                        </button>
                    </h5>
                </div>

                <div id="FAQAnswer01" class="collapse" aria-labelledby="FAQ01" data-parent="#accordion">
                    <div class="FAQBody card-body">
                        Step 1: You may need to delete your cookies, a cookie is a small file on your computer to let us know who you are next time you visit.
                        <br/>
                        Step 2: Once you've cleared your cookies, close your browser reopen it and visit our site again, for best viewing experience we recommend using a desktop browser.
                        <br/>
                        Step 3: If your still having problems contact our customer care team via our Contact Us page
                    </div>
                </div>
            </div>
            <!--FAQ1-->

            <!--FAQ2-->
            <div class="card FAQ">
                <div class="FAQTitle card-header" id="FAQ02">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#FAQAnswer02" aria-expanded="true" aria-controls="FAQAnswer02">
                            How good are the brownies?
                        </button>
                    </h5>
                </div>

                <div id="FAQAnswer02" class="collapse" aria-labelledby="FAQ02" data-parent="#accordion">
                    <div class="FAQBody card-body">
                        These freshly made brownies are incomprehensibly good, an addiction will start and you will come back for more.
                    </div>
                </div>
            </div>
            <!--FAQ2-->

            <!--FAQ3-->
            <div class="card FAQ">
                <div class="FAQTitle card-header" id="FAQ03">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#FAQAnswer03" aria-expanded="true" aria-controls="FAQAnswer03">
                            How can i write a review?
                        </button>
                    </h5>
                </div>

                <div id="FAQAnswer03" class="collapse" aria-labelledby="FAQ03" data-parent="#accordion">
                    <div class="FAQBody card-body">
                        You must be signed in to make a product review. Go to the product page, and there will be a section for you to rate this product.
                    </div>
                </div>
            </div>
            <!--FAQ3-->

            <!--FAQ4-->
            <div class="card FAQ">
                <div class="FAQTitle card-header" id="FAQ04">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#FAQAnswer04" aria-expanded="true" aria-controls="FAQAnswer04">
                            Why cant you deliver my product?
                        </button>
                    </h5>
                </div>

                <div id="FAQAnswer04" class="collapse" aria-labelledby="FAQ04" data-parent="#accordion">
                    <div class="FAQBody card-body">
                        Policy states that purchases made on this website are for click and collect ONLY. We still don't have services in place for delivery options.
                    </div>
                </div>
            </div>
            <!--FAQ4-->


        </div>
    </div>
</main>
<!--Main layout-->
<!--Footer-->
<!--/.Footer-->
<!-- SCRIPTS -->
<!-- GoogleMaps -->
<!-- JQuery -->
<script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/Content/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
@*<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>*@
<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
// Animations initialization
    new WOW().init();</script>