@model IEnumerable<Sparta_Online_Shop.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@{ 
    var productImage = "https://3se5un1sjwoxoshar1u4hm6z-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/jumper-woman-no17-arce-1-644x800.jpg";
}

<div class="d-flex flex-wrap justify-content-around">
    @foreach (Product product in Model)
    {
        <div style="position:relative; margin:10px 0;">
            <div style="width:300px; height:200px; background:url(@productImage); background-size:cover;">
                <div style="text-align:right;width:100%; max-height:25%; padding:0 10px; background-color:rgba(227,54,97,0.67); position:absolute;bottom:0;">
                    <p style="padding:0 5px; color:#ffffff; margin:0;">@product.ProductName</p>
                    <p style="padding:0 5px; color:#ffffff; font-weight:bold;margin:0;">@product.Price</p>
                </div>
            </div>
        </div>
    }
</div>
