@{
    ViewBag.Title = "TermsAndConditions";
}
    <style>
        body {
            background-color: #36393F;
            text-align: center;
            color: rgb(199, 199, 199);
        }

        h2 {
            margin: 3vh 0 3vh 0;
            font-weight: bold;
            color: #8d223d
        }

        h4 {
            margin: 8vh 0 2vh 0;
            font-weight: bold;
        }

        h5 {
            margin-top: 3vh;
            font-weight: bold
        }

        p, .Content tbody {
            color: #979797;
        }

        .Content thead {
            font-weight: bold;
            color: rgb(199, 199, 199)
        }

        .Content td {
            width: 50%
        }

        .Content ul {
            list-style: inside;
            color: #979797;
        }
        .Content{
            width:85%;
            margin:50px auto;
        }
        .Content div{
            text-align:left;
        }
    </style>

        <div class="Content">
            <h2>Terms & Conditions</h2>
            <div>
                <h4>Terms of use</h4>
                <p>
                    The term ‘Sparta Global’ or ‘us’ or ‘we’ refers to the owner of the website, Sparta Global Limited, whose registered
                    office is 6th Floor,125 London Wall, EC2Y 5AS. Our company registration number is No: 5597367, registered in England.
                </p>
                <p>
                    All material published on the website is published in good faith, however there is no representation or warrant of
                    accuracy or reliability of such information by the website. This website is for information only unless otherwise
                    stated. There is no guarantee expressed or otherwise, that the contents or operation of the website will be error
                    free. Although it may be possible to obtain access to other websites from this website, there is no endorsement or
                    responsibility for those websites, their contents or any damage or loss arising out of those websites. We reserve
                    the right to modify, update or close this website at any time.
                </p>
                <p>
                    Those who choose to access this website are responsible for the compliance to the laws applicable. This notice and
                    disclaimer are governed by and construed in accordance with the laws of England.
                </p>
            </div>
            <div>
                <h4>About you</h4>
                <p>To shop with us, you need to:</p>
                <ul>
                    <li>be at least 16 years old;</li>
                    <li>have a PayPal personal account; and</li>
                    <li>be authorised to use that PayPal account (e.g. it is in your name or you have permission to use it).</li>
                </ul>
                <p>Just FYI, some of the goods sold through our Websites may not be suitable for under 18s.</p>
            </div>
            <div>
                <h4>Placing an order</h4>
                <p>
                    When you place an order, you should receive an acknowledgement e-mail confirming receipt of your order. We then carry out
                    a standard pre-authorisation check to make sure there’s enough money in that account.
                </p>
                <p>
                    We only accept your order once payment has been approved and received (and then the contract
                    is made based on these terms).
                </p>
                <p>
                    You may be able to cancel (not change) your order within a short period of ordering – timings depend on
                    your chosen delivery method (and will be set out in the acknowledgement email). You can’t change your
                    order – you’ll need to cancel (and/or return original item(s)), and re-order.
                </p>
                <p>
                    All orders are subject to availability and confirmation of the order price. Don’t worry, if there’s an
                    issue with an order, we’ll get in touch with you.
                </p>
                <p>
                    Very occasionally, we may need to refuse or cancel an order or close or freeze an account (even if we
                    have previously confirmed your order) – e.g. if we notice something unusual on an order or an account.
                    If this happens to you and you think we’ve made a mistake, please don’t take offence – get in touch
                    with Customer Care and they’ll be happy to speak to you about it.
                </p>
            </div>
            <div>
                <h4>Prices and product descriptions</h4>
                <p>
                    There’s a lot going on here at Sparta Global HQ and from time to time our busy Spartans may price up
                    or describe a product or promo wrongly. If we discover an error for any goods you’ve ordered, we will
                    tell you ASAP and give you the option of reconfirming your order (at the correct price) or cancelling it.
                </p>
                <p>
                    If we can’t get in touch with you, we will treat the order as cancelled. If you cancel and you’ve already
                    paid, we will refund you in full.
                </p>
                <p>
                    Prices include VAT (where applicable).
                </p>
                <p>
                    Depending on the value of your order or the delivery option or address you choose, delivery costs may also
                    be charged (see below). Such additional charges will be clearly shown during the checkout process and
                    included in the 'Total Cost'.
                </p>
            </div>
            <div>
                <h4>Delivery</h4>
                <p>
                    Before you finalise your order, you’ll be given various delivery options to choose from with estimated
                    delivery time and dates depending on the delivery address.
                </p>
            </div>
            <div>
                <h4>Returns and Refunds</h4>
                <p>
                    We are not able to refund your order at the moment. Please be aware of that before you make a purchase.
                </p>
            </div>
            <div>
                <h4>Gift Vouchers</h4>
                <p>
                    If you’re the lucky recipient of an Sparta Global Gift Voucher (high five!) head over to our
                    Help pages to find out how and when they can be used.
                </p>
            </div>
            <div>
                <h4>Your information</h4>
                <p>
                    Our Privacy Policy sets out how we’ll use your information. If your details change, remember that you
                    need to update  My Account so we can continue giving you our best service (you can also update your
                    marketing preferences there).
                </p>
                <p>
                    At Sparta Global Store, we love being able to interact with and chat to you through social media. However, we can’t control
                    those social media platforms or how you set your profiles on them. Please check and set your privacy settings
                    so that you understand and are comfortable with how your personal information on those platforms will be used.
                </p>
            </div>
            <div>
                <h4>Things you shouldn’t do…</h4>
                <p>
                    We know it’s obvious, but you must not misuse or tamper with our websites, apps or other services (“Websites”)
                    (e.g. hack, introduce viruses, trojans, worms, logic bombs or other technologically harmful material or carry
                    out denial of service attacks etc) or otherwise mess with our tech or functionality or steal our or our customers’
                    data. Doing any of these things may be a criminal offence, but they also get in the way of us giving our loyal
                    ASOS customers the best service, so we take them really seriously. ASOS will report any such breach or activity
                    (and all information about the people carrying it out) to the relevant law enforcement authorities.
                </p>
                <p>
                    We recommend you use virus protection software when using any website, including ours. Although we have a dedicated
                    team who work hard to stop people messing with our Website, we can’t guarantee that it will always be secure from
                    bugs, viruses or trouble-makers.
                </p>
                <p>
                    You’re not allowed to use automated systems or software to extract data from our Website (AKA 'screen scraping').
                </p>
                <p>
                    Troublemakers take note: you agree to indemnify, defend and hold harmless Sparta Global, its directors, officers, employees,
                    consultants, agents, and affiliates, from any and all third-party claims, liability, damages and/or costs (including,
                    but not limited to, legal fees) arising from your use (or misuse) of this Website or your breach of the Terms and Conditions.
                </p>
            </div>
            <div>
                <h4>Intellectual property, software and content</h4>
                <p>
                    ASOS owns or has permission to use the intellectual property rights in its Website and its content. These rights are protected
                    around the world. All such rights are reserved.
                </p>
                <p>
                    You’re allowed to store, print and display our Website content only for your own personal use. You are not allowed to use any
                    part of the Website for commercial purposes unless you have our express permission.
                </p>
                <p>
                    You’re also not allowed to use the Sparta Global logo or trade mark (or any marks which are colourably similar) without our express permission.
                </p>
            </div>
            <div>
                <h4>Linking to this Website</h4>
                <p>
                    It’s fine for you to link to SpartaGlobalStore.com, as long as you do so in a way that is not-commercial, is fair and legal, and doesn’t damage or take
                    advantage of our reputation.
                </p>
                <p>
                    Please don’t link in a way that suggests any form of approval or endorsement by ASOS where none exists.
                </p>
                <p>
                    Our Website must not be framed on any other site without our permission.
                </p>
            </div>
            <div>
                <h4>Complaints or need to speak to us?</h4>
                <p>
                    Occasionally things do go wrong and you may want to get in touch with us. If that happens, please contact our Customer Care team, who will work with you
                    to resolve any issues you’re having with our services:
                </p>
                <p>Email: contact@spartaglobal.com</p>
                <p>Phone: +44 (0) 208 940 2333</p>
                <p>Post: Sparta Global HQ, 6th Floor, 125 London Wall, London, EC2Y 5AS</p>
            </div>
            <div>
                <h4>Legal stuff</h4>
                <p>
                    We have the right to amend, remove or vary our services and/or any part of the Website (including our Ts&Cs) at any time.
                </p>
                <p>
                    These terms and our dealings with you are subject to English law and the exclusive jurisdiction of the English courts.
                </p>
            </div>
            <div>
                <h4>User Generated Content</h4>
                <p>
                    Have we reached out to you on social media to feature your content on our social media channels? Congrats! It means we
                    love your style.
                </p>
                <p>
                    By giving you the opportunity to feature your content on our social media channels and by responding with the required hashtag (such as #SpartanGlobal) you agree:
                </p>
                <p>
                    we can use your handle and the content (the “Content”) on SpartaGlobalStore.com, and/or on any of Sparta social media platforms (including but
                    not limited to Instagram, Facebook and Twitter).
                </p>
                <p>
                    we can edit, crop, adapt, enhance or modify the Content (but Sparta Global will not treat you in a derogatory manner).
                </p>
                <p>You promise that you:</p>
                <ul>
                    <li>have the permission of everyone in the Content;</li>
                    <li>have the right to grant Sparta Global the above rights; and</li>
                    <li>are at least 16.</li>
                </ul>
                <p>
                    If you (or anyone in the Content) asks us to remove the Content, we will remove the Content from the social media accounts that we control.
                </p>
                <p>
                    You understand that other users of these social media platforms can also share and make use of the Content once posted.  In particular, a user of these platforms
                    can take a screenshot of and save an image of the Content to their device, share the Content on social media platforms or websites which feature the Content (and
                    sharing capabilities). If you do not want to grant the permissions set out above then please do not give us consent to use the Content.
                </p>
            </div>
        </div>