html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica';
    /*max-height: 100vmin;*/
    background: #01181b;
    background: #36393F;
    background:url(/Content/images/background_pattern.png);

}

.nav a:hover {
    color: #e33661 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #807185 !important;
    opacity: 0.6;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #807185 !important;
    opacity: 0.6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #807185 !important;
    opacity: 0.6;
}

.nav > li > a,
.navbar-nav > li > a {
    color: #fff !important;
    text-decoration: none;
    margin: 0 5px;
}

.navbar-nav > #Logout > li:hover a,
.nav > #Logout > li:hover a {
    color: #fa7878 !important;
}

.navbar-nav > #Login:hover a,
.navbar-nav > #SignUp:hover a,
.nav > #Login:hover a,
.nav > #SignUp:hover a {
    color: #74f2b7 !important;
}

#LogoutLink {
    display: block;
    font-weight: bold;
    color: #f38888!important;
}

#LogoutLink:hover {
    color: #ef2727 !important;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.dropdown:hover .dropdown-toggle::after,
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown:hover .dropdown-toggle,
.show.dropdown .dropdown-toggle {
    color: #e33661 !important;
}

.dropdown-menu{
    right:0;
    left:initial;
}

.dropdown-item {
    color: #f6f9fc !important;
}

.dropdown-item:hover{
    background-color: transparent !important;
}

.dropdown-divider {
    border: 0;
    height: 1px;
    background: rgba(227, 54, 97, 0.75);
    background: linear-gradient(to right, rgba(101, 56, 120, 0), rgba(227, 54, 97, 0.75), rgba(101, 56, 120, 0));
    background: -moz-linear-gradient(left, rgba(101, 56, 120, 0), rgba(227, 54, 97, 0.75), rgba(101, 56, 120, 0));
    background: -webkit-linear-gradient(left, rgba(101, 56, 120, 0), rgba(227, 54, 97, 0.75), rgba(101, 56, 120, 0));
    background: -o-linear-gradient(left, rgba(101, 56, 120, 0), rgba(227, 54, 97, 0.75), rgba(101, 56, 120, 0));
    background: -ms-linear-gradient(left, rgba(101, 56, 120, 0), rgba(227, 54, 97, 0.75), rgba(101, 56, 120, 0));
}

#LoginForm form,
#SignUpForm form {
    width: fit-content;
    background: #01181b;
    padding: 1vmin 2vmin;
    margin: 10vmin auto;
    box-shadow: 0 0px 10px #e33661;
    overflow: hidden;
    animation: Appear 0.5s linear;
    color: #FFF;
    min-width: 350px;
    border-radius: 5px;
    border: 1px solid #e33661;
}

#LoginForm form-horizontal form-group:nth-child(1),
#SignUpForm form-horizontal form-group:nth-child(1) {
    margin-top: 20px;
}

#LoginForm label,
#SignUpForm label {
    min-width: 60px;
}

#LoginForm .check > label,
#SignUpForm .check > label {
    min-width: 127px;
}

#LoginForm input,
#SignUpForm input {
    max-width: 100%;
    font-weight: bold;
    color: #47354f;
}

#LoginForm input[type="submit"],
#SignUpForm input[type="submit"] {
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #e33661;
    border: 1px solid #fa6f91;
    margin: 0;
}

#LoginForm input[type="submit"]:hover,
#SignUpForm input[type="submit"]:hover {
    background-color: #d53a60;
    border: 1px solid #fe3868;
    color: #653878;
}

#LoginForm input[type="submit"]:active,
#LoginForm input[type="submit"]:focus,
#SignUpForm input[type="submit"]:active,
#SignUpForm input[type="submit"]:focus {
    background-color: #de305b !important;
    border: 1px solid #ea2556 !important;
    color: #653878;
}

.SpartaForm form {
    width: fit-content;
    background: #01181b;
    padding: 1vmin 2vmin;
    margin: 10vmin auto;
    box-shadow: 0 0px 10px #e33661;
    overflow: hidden;
    animation: Appear 0.5s linear;
    color: #FFF;
    min-width: 350px;
    border-radius: 5px;
    border: 1px solid #e33661;
}

.SpartaForm form-horizontal form-group:nth-child(1) {
    margin-top: 20px;
}

.SpartaForm label {
    min-width: 60px;
}

.SpartaForm .check > label {
    min-width: 127px;
}

.SpartaForm input {
    max-width: 100%;
    font-weight: bold;
    color: #47354f;
}

.SpartaForm input[type="submit"] {
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #e33661!important;
    border: 1px solid #fa6f91!important;
    margin: 0;
}

.SpartaForm input[type="submit"]:hover {
    background-color: #d53a60!important;
    border: 1px solid #fe3868!important;
    color: #653878;
}

.SpartaForm input[type="submit"]:active,
.SpartaForm input[type="submit"]:focus {
    background-color: #de305b !important;
    border: 1px solid #ea2556 !important;
    color: #653878;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e33661 !important;
    background-color: #e33661 !important;
}

#LoginForm .AccountHelperLinks {
    clear: both;
    text-align: right;
    font-size: 0.9em;
}

.field-validation-error {
    color: #7c0b0b !important;
}

.text-danger {
    width: 100%;
    display: block;
    background-color: #ff5959;
    border-radius: 3px;
    color: #7c0b0b !important;
    font-size: 0.9em;
    padding: 0 10px;
}

.SpartaDeleteCancel {
    padding: 5px;
}

.SpartaDeleteCancel .Delete,
.SpartaDeleteCancel .Cancel {
    display: inline-block;
    height: 50px !important;
    width: 100px;
    padding: 5px 10px;
    color: #FFF;
    margin: 5px;
    line-height:35px;
}

.SpartaDeleteCancel .Delete {
    background-color: #58b68a  !important;
    border: 1px solid #e33661;
}

.SpartaDeleteCancel .Cancel {
    background-color: #e56a6a !important;
    border: 1px solid #e33661;
}

.SpartaDeleteCancel .Cancel:hover ,
.SpartaDeleteCancel .Cancel:focus,
.SpartaDeleteCancel .Cancel:active {
    background-color: #a72525 !important;
}

.SpartaDeleteCancel .Delete:hover,
.SpartaDeleteCancel .Delete:focus,
.SpartaDeleteCancel .Delete:active  {
    background-color: #3c825c !important;
}

.SpartaStoreButton a:active,
.SpartaStoreButton input[type=submit]:active,
.SpartaStoreButton button:active {
    background-color: #e33661 !important;
    border: 1px solid #3e1438 !important;
}

.SpartaStoreButton {
    padding: 5px;
    text-align: center;
    max-width: 215px;
}

.SpartaStoreButton a,
.SpartaStoreButton button,
.SpartaStoreButton input[type=submit] {
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    background-color: #3e1438 !important;
    border: 1px solid #e33661;
    color: #FFF;
    margin: 5px;
}

.SpartaStoreButton a:hover,
.SpartaStoreButton input[type=submit]:hover,
.SpartaStoreButton button:hover {
    background-color: #e33661 !important;
    border: 1px solid #3e1438 !important;
}

.SpartaStoreButton a:focus,
.SpartaStoreButton input[type=submit]:focus,
.SpartaStoreButton button:focus {
    background-color: #e33661 !important;
    border: 1px solid #3e1438 !important;
}

.SpartaStoreButton a:active,
.SpartaStoreButton input[type=submit]:active,
.SpartaStoreButton button:active {
    background-color: #e33661 !important;
    border: 1px solid #3e1438 !important;
}

/*Admin Dashboard*/
.GreenStats {
    box-shadow: 2px 2px 2px #7fe5ce;
    background-color: #48c2a6;
}

.BlueStats {
    box-shadow: 2px 2px 2px #8ea6eb;
    background-color: #4867c2;
}

.AdminDashboardStats {
    width: 90%;
    height: 100px;
    margin: auto;
    text-align: center;
    color: #fff;
    line-height: 1;
}

.AdminDashboardStats .StatsData,
.AdminDashboardStats .StatsDataSmall {
    margin: 0;
    height: 70%;
    font-weight: bold;
    line-height: 75px;
}

.AdminDashboardStats .StatsLabel {
    font-size: 0.9em;
    height: 20%;
    margin: 0;
    font-weight: bold;
}

.AdminDashboardButton {
    width: 90%;
    height: 100px;
    background-color: #721F46;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: 1px solid #e33661;
}

.AdminDashboardButton:hover {
    background-color: #e33661 !important;
    border: 1px solid #3e1438 !important;
}

.AdminDashboardButton a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff !important;
}

.AdminDashboardButton p {
    margin: 0;
}

.AdminDashboardButton img {
    height: 60%;
    margin: 5px 0;
}

/*Admin user management*/
.UserCard {
    width: 85%;
    margin: auto;
    background-color: #3a1338;
}

.UserCard .UserCardName,
.UserCard .UserCardEmail,
.UserCard .UserCardLastLogin {
    overflow: hidden;
}


.UserCard .UserCardName {
    width: 100%;
    height: 100px;
    line-height: 1;
    font-size: 2em;
    font-weight: bold;
    color: #FFf;
    background-color: #721F46;
    padding: 10px;
    position:relative;
}

.UserCard .UserCardEmail {
    padding: 5px 15px;
}

.UserCard .UserCardEmail a {
    color: #FFF;
    font-size: 0.9em;
}

.UserCard .UserCardDetails {
    padding:5px 10px;
    text-align: right;
    max-width:none;
}

.UserCard .UserCardDetails a {
    padding: 5px;
    background-color: #a82a51;
    border: 1px solid #e33661;
    color: #FFF;
    margin:0;
}

.UserCard .UserCardDetails a:hover {
    background-color: #e33661;
    border: 1px solid #a82a51;
}

.UserStatus,
.UserStatusLocked {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 0.5em;
}

.UserStatus {
    background-color: #419d56;
    color: #164d22;
}

.UserStatusLocked {
    background-color: #e35151;
    color: #640303;
}

/*Admin General*/
.SpartaStoreTable {
    color: #FFF !important;
}

.SpartaStoreTable th {
    font-weight: bold;
}

.SpartaStoreTable thead {
    background: #e33661;
}

.SpartaStoreTable tbody {
    background: #3e1438;
}

.SpartaStoreTable .SpartaStoreButton a{
    color: #FFF !important;
    margin: 5px !important;
}

/*FAQs*/
.FAQ {
    color: #FFF;
}

.FAQTitle {
    background-color: #e33661;
}

.FAQBody {
    background-color: #390d26;
    min-height: unset !important;
}

@media screen and (min-width: 751px) {
    .AdminDashboardStats .StatsData {
        font-size: 4.5em;
    }

    .AdminDashboardStats .StatsDataSmall {
        font-size: 3em;
    }
}

@media only screen and (max-width: 750px) {
    #LoginForm form,
    #SignUpForm form {
        min-width: 350px;
        margin: 10vmin auto !important;
    }

    .AdminDashboardButton {
        font-size: 0.9em;
        height: 75px;
    }

    .AdminDashboardButton img {
        height: 50%;
        margin: 5px 0;
    }

    .AdminDashboardStats .StatsData {
        font-size: 4em;
    }

    .AdminDashboardStats .StatsDataSmall {
        font-size: 2.3em;
    }
}

/*Footer*/
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -124px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 124px;
}

@media (min-width: 900px) {
    .card > .view {
        height: 400px;
    }

    .card-body {
        min-height: 200px;
    }
}

@keyframes Appear {
    0% {
        opacity: 0;
        margin-top: 13vmin;
    }

    100% {
        opacity: 1;
        margin-top: 10vmin;
    }
}
