
@{
    ViewBag.Title = "StockOrders";
}
<style>

</style>
<h2>Order Stock</h2>

<div>
    <div>Product Name: @ViewBag.ProductName</div>
    <div>Stock Left: @ViewBag.StockLevel</div>
    <div>Order Ammount: @ViewBag.OrderAmmount</div>
</div>

<div>
    <div>Total Price: @ViewBag</div>
</div>