
@{
    ViewBag.Title = "Users";
}
<style>
</style>
<h2>Users</h2>

<h2>@Html.ActionLink("Index", "Index", "Admin")</h2>
<h2>@Html.ActionLink("Products", "Products", "Admin")</h2>
<h2>@Html.ActionLink("Stock Orders", "StockOrders", "Admin")</h2>