
<style>
       .heading {
  font-size: 25px;
  margin-right: 25px;
}
</style>

<!--Partial View-->
<!--Product average rating-->
    <div style="color:white">
        @for (int i = 1; i <= 5; i++)
        {
            if (i <= ViewBag.AvgRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }
    <span>@ViewBag.NumOfReviews Reviews</span>
    <p>@ViewBag.AvgRating out of 5 stars</p>

    </div>
