
@{
    ViewBag.Title = "Index";
}

<main class="pt-4">

    <!--Render UserReviews As Partial View-->
    <div>
        @{
            Html.RenderAction("UserReviews", "Reviews");
        }
    </div>
</main>